@charset "UTF-8";
.encabezado {
  background-image: url("./Recursos/Imagenes/fondo encabezado.jpg");
  background-repeat: round;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-brand {
  margin: 30px;
  animation: ease-in animacion 1s;
}

@keyframes animacion {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.nav-link {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

a {
  outline: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: unset;
}

.cuerpo__contenido-info-titulo {
  font-size: 80px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 40px;
  padding: 30px;
  text-align: center;
  text-decoration: overline;
}

.cuerpo__contenido-info-descripcion {
  font-size: 45px;
  text-align: center;
}

.diseños {
  font-size: 45px;
  font-family: fantasy;
  font-style: italic; 
  text-decoration: overline; 
  padding: 20px;
  text-align: center;
  background-image: url(./Recursos/Imagenes/patron-triangulo-abstracto-grieta-poligono-luz-verde-sobre-fondo-gris-oscuro_571381-326.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
}

/* Presentación "nosotros" */
.nosotros {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  text-align: center;
  color: white;
  margin: 30px;
  background-color: rgb(0, 0, 0);
  padding: 40px;
}

.presentacion {
  font-size: 40px;
  padding-bottom: 8px;
  text-decoration: overline;
  background-image: url(./Recursos/Imagenes/patron-triangulo-abstracto-grieta-poligono-luz-verde-sobre-fondo-gris-oscuro_571381-326.jpg);
}

.presentacion__descripcion {
  font-size: 32px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 25px;
}

/* TARJETA */
.diseño {
  background-color: rgba(6, 192, 6, 0.541);
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.diseño__enlace {
  background-color: #000000ef;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: #0aad0a;
  padding: 15px 0; 
  font-size: 25px;
}

.diseño__descripcion {
  height: 50px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: 20px;
}

.diseño__titulo {
  margin-bottom: 20px;
  font-size: 30px; 
  color: rgb(5, 5, 5);
  font-style: bold;
  text-align: center;
  text-decoration: solid;
  text-shadow: #000;
}

.diseño__encabezado-imagen {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px; 
}

.diseño__encabezado-etiqueta {
  padding: 8px;
  /* posicionar desde el body */
  position: absolute;
  /* top, bottom, left, right */
  right: 0;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 10px 0 10px;
  text-transform: uppercase; 
}

.diseño__encabezado {
  position: relative; 
}

.diseño__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto; 
  background-image: url(./Recursos/Imagenes/patron-triangulo-abstracto-grieta-poligono-luz-verde-sobre-fondo-gris-oscuro_571381-326.jpg);
}

/* Enlances */
.pasaje {
  color: blue;
  display: flex;
  justify-content: center;
  align-content: stretch;
  font-size: 35px;
  padding: 50px;
  margin-top: 40px;
}

.fondo {
  background-color: #000;
}
  
.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 30px;
  transition: size 1s;
}

/* pie de pagina */
.pie__pagina {
  background-image: url(./Recursos/Imagenes/patron-triangulo-abstracto-grieta-poligono-luz-verde-sobre-fondo-gris-oscuro_571381-326.jpg);
  color: white;
  font-size: 20px;
  text-align: center;
  font-size: 30px;
  padding: 15px;
}

.pie__pagina-contenido {
  margin-top: 15px;
}

.datos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  padding: 70px;
}

.contacto {
  font-size: 45px;
  color: black;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 100px;
  font-style: italic;
  text-decoration: overline;
}

/* media querie para diversos dispositivos */
@media only screen and (max-width: 758px)  {
  /* index */
 .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: right;
 }

 /* presentación */
 .nosotros {
   flex-direction: column-reverse;
 }

 /* Catálogo productos */
 .diseño__contenido {
   display: flex;
   flex-direction: column;
 }

 /* Nuestros datos */
 .datos {
   display: flex;
   flex-direction: column;
 }
}

@media only screen and (max-width: 576px)  {
   /* index */
  .container-fluid {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  /* presentación */
  .nosotros {
    flex-direction: column-reverse;
  }

  /* Catálogo productos */
  .diseño__contenido {
    display: flex;
    flex-direction: column;
  }

  /* Nuestros datos */
  .datos {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=estilos.css.map */
